
<h2>Tipo de cambio de compra del dolar</h2>
<hr />
<h3>Formula</h3>
<hr />
<h3>Peridiocidad de calculo</h3>
<hr />
<h3>Grafico</h3>
<hr />
<h3>Impacto de la fluctuacion en la sociedad constarricense</h3>
<hr />