
<h2>Tasa de politica monetaria</h2>
    <hr/>
<p>El principal mecanismo de intervención de política monetaria usado por el Banco de la República 
    para afectar la cantidad de dinero que circula en la economía, consiste en modificar la tasa de 
    interés mínima que cobra a las entidades financieras por los préstamos que les hace, o la tasa de
    interés máxima que paga por recibirles dinero sobrante.</p>

<h2>Formula</h2>
<hr />
<p>lorem</p>
<hr />
<h2>Peridiocidad de calculo</h2>
<hr />
<p> 5 </p>

<h3>Grafico</h3>
<hr />
<p></p>
<h3>Impacto de la fluctuacion en la sociedad constarricense</h3>

