
<h2>Tasa Basica Pasiva</h2>
<hr />
<p>La tasa básica pasiva es un promedio ponderado de las tasas de interés de captación brutas en colones,
    negociadas por los intermediarios financieros residentes en el país y de las tasas de interés de 
    los instrumentos de captación del Banco Central y del Ministerio de Hacienda negociadas tanto en 
    el mercado primario como en el secundario.</p>

<h3>Formula</h3>
<hr />
<h3>Peridiocidad de calculo</h3>
<hr />
<p>Todas ellas correspondientes a los plazos entre 150 y 210 días</p>
<h3>Grafico</h3>
<hr />

<h3>Impacto de la fluctuacion en la sociedad constarricense</h3>
<hr />