@{
    ViewBag.Title = "Información";
}

<div class="well" align="center">
    <h1 align="center" font-size="40cm"><span class="label label-primary">Información de Progreso</span></h1><br /><br /><br />
    <img src="~/Imagenes/economy.png" alt="Sample Photo" />

    <div class="col-md-6" align="center">
        <div class="well">
            <h3 align="center"><span class="label label-primary">Historia</span></h3>
            <img src="~/Imagenes/pen.png" alt="Sample Photo" />
            <p>
                <strong>
                    El Progreso es una empresa costarricense, nacida en el año 2010 en Desamparados de San José,
                    la cual desde sus inicios se ha ganado el corazón de los costarricenses brindando productos de crédito y ahorro,
                    a precios justos y accesibles para el público en general. Dada la demanda actual en el mercado financiero, y la creciente tendencia en el análisis de datos,
                    El Progreso ha visto la necesidad de desarrollar un sistema web, que le permita tener un contacto más directo con sus clientes, y a la vez brindar a los usuarios información de importancia para la toma de decisiones financieras, esto mediante una interfaz amigable, confiable y que sea vanguardista de las últimas tecnologías.
                    El Progreso conoce muy bien las necesidades los sus clientes, sin embargo, es consciente de la poca educación financiera que reciben los mismos en los centros educativos de primera y segunda enseñanza, así como universitario, por lo cual desea incluir como pilar de la aplicación web, información de tres indicadores financieros que usualmente las personas no conocen:
                    Tasa de Política Monetaria, Tasa Básica Pasiva y Tipos de Cambio del dólar estadounidense con relación al colón costarricense.
                    Los indicadores mencionados anteriormente, son creados por el Banco Central de Costa Rica y los mismos pueden ser consultados en la página web oficial del mismo.
                    A continuación se enuncian algunos aspectos importantes generales de la empresa como insumo para el desarrollo de la aplicación web.
                </strong>
            </p>
        </div>
    </div>  

    <div class="col-md-6" align="center">
        <div class="well">
            <h3 align="center"><span class="label label-primary">Misión</span></h3>
            <img src="~/Imagenes/check.png" alt="Sample Photo" />
            <p>
                <strong>Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades de inversión y soluciones financieras, fundamentados en las necesidades de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas y nuestra comunidad.</strong><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </p>
        </div>
    </div>

        <div class="col-md-6" align="center">
            <div class="well">
                <h3 align="center"><span class="label label-primary">Visión</span></h3>
                <img src="~/Imagenes/trofeo.png" alt="Sample Photo" />
                <p>
                    <strong>Ser reconocidos como la entidad financiera líder en la creación, desarrollo, administración y distribución de inversiones, comprometidos con el crecimiento económico del país.</strong><br /><br /><br /><br /><br /><br />
                </p>
            </div>

        <div class="col-md-6" align="center">
            <div class="well">
                <h3 align="center"><span class="label label-primary">Valores</span></h3>
                <img src="~/Imagenes/people.png" alt="Sample Photo" />
                <h5><strong>Nuestros valores son los siguientes:</strong></h5>
                <strong>
                    <ul>
                        <li>Integridad</li>
                        <li>Creatividad</li>
                        <li>Enseñar con el ejemplo</li>
                        <li>Escuchar para entender</li>
                        <li>Trabajar en equipo</li>
                        <li>Desarrollar a otros</li>
                    </ul>
                </strong>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6" align="center">
            <div class="well">
                <h3 align="center"><span class="label label-primary">Responsabilidad Social</span></h3>
                <img src="~/Imagenes/social.png" alt="Sample Photo" />
                <p>
                    <strong>
                        En El Progreso contamos con políticas y prácticas fundamentadas en principios y valores, que contribuyen al logro de los objetivos de la compañía y al fortalecimiento de relaciones de mutuo beneficio con nuestros grupos de interés (accionistas, clientes, empresas del portafolio de inversiones, proveedores, colaboradores y comunidad en general), controlando y midiendo los impactos social, económico y ambiental.
                        De la mano de nuestro objeto social, logramos cumplir los objetivos de responsabilidad social empresarial, a través de las unidades de negocio, las filiales y empresas del portafolio con las cuales logramos un mayor impacto al llegar a distintos sectores de la sociedad.
                        Por lo anterior y tomando en consideración su vasta experiencia como programador y la recomendación de algunos de nuestros clientes, El Progreso lo ha contratado para que realice una herramienta acorde a las necesidades que se presentarán en los siguientes puntos.
                    </strong>
                </p>
            </div>
        </div>

        <div class="col-md-6" align="center">
            <div class="well">
                <h3 align="center"><span class="label label-primary">Organigrama</span></h3>
                <!--<img src="~/Imagenes/people.png" alt="Sample Photo" /><br />-->
                <img src="~/Imagenes/Organigrama.jpg" alt="Sample Photo" width="450" height="400" /><br /><br /><br />
            </div>
        </div>
        <br />
        <br />

        <div class="col-md-12">
            <div class="col-md-6" align="center">
                <div class="well">
                    <h3 align="center"><span class="label label-primary">Objetivo General</span></h3>
                    <img src="~/Imagenes/general.png" alt="Sample Photo" />
                    <strong>
                        <ul>
                            <li>Dar información a los usuarios sobre los tres indicadores financieros más importantes: Tasa de Política Monetaria, Tasa Básica Pasiva y Tipos de Cambio del dólar.</li>
                            <br />
                            <br />
                            <br />
                            <br />
                        </ul>
                    </strong>
                </div>
            </div>

            <div class="col-md-6" align="center">
                <div class="well">
                    <h3 align="center"><span class="label label-primary">Objetivos Específicos</span></h3>
                    <img src="~/Imagenes/especifico.png" alt="Sample Photo" />
                    <strong>
                        <ul>
                            <li>Informar al usuario sobre la Tasa Política Monetaria</li>
                            <li>Informar al usuario sobre la Tasa Básica Pasiva</li>
                            <li>Informar al usuario sobre la Compra y Venta del Dólar.</li>
                            <li>Para cada indicador mostrar al usuario la descripción, fórmula de cálculo, periocidad, historial y una explicación del impacto que este podría generar.</li>
                        </ul>
                    </strong>
                </div>
            </div>
        </div>


    </div   >



